<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/css/shared.css">
    <link rel="stylesheet" href="Login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="login">

        <div class="box-container login">
            <form action="">
                <p class="input-container">
                    <label class="text-field-input" for="">E-mail</label> <br>
                    <input type="email" class="text-field">
                </p>
                <p class="input-container">
                    <label class="text-field-input" for="">Password</label> <br>
                    <input type="password" class="text-field">
                </p>
                <button class="primary-button long">LOG IN</button>
            </form>
        </div>
        
        <div class="aditional-info">
            <p>Or if you don't have an account, <a href="#" class="register-login">Register</a></p>
        </div>
        

    </div>

    

    

</body>
</html>